
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    background-color: #0D1117;
}

/* =================================================================================================
============================      TOP  BAR       ===================================================
================================================================================================= */


.topbar {
    display: flex;
    height: 62px;
    padding: 0 30px;
    background-color: #161B22;
    font-family: sans-serif;
    font-size: 15px;

}

.github-icon {
    color: white;
    font-size: 35px;
    padding-top: 10px;
    text-decoration: none;
}

#site-search {
    margin-top: 15px;
    margin-left: 20px;
    height: 30px;
    width: 270px;
    border: .5px solid #373b41;
    border-radius: 5px;
    background-color: rgb(12, 14, 23);
    color: #acabb3;

}

.sitebar {
    display: flex;
    padding-top: 5px;
    color: #ffffff;
}
.sitebar p {
    margin-left: 15px;
}

.end-icons {
    margin-left: auto;
    display: flex;
}
.end-icons a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    cursor: pointer;
}
.end-icons img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 14px 0 0 0;
    cursor: pointer;
}


/* =================================================================================================
============================      NAV  BAR       ===================================================
================================================================================================= */

.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 55px;
    border-bottom: .4px solid #373b41;
    font-size: 18px;
    color: #c8d0d8;
    padding-bottom: 15px;
}
.navbar div {
    padding-left: 15px;
    color: #c8d0d8;
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
.navbar a {
    text-decoration: none;
    padding-right: 8px;
    color: #c8d0d8;
    font-size: 15px;
}
.navbar p {
   
    /* padding-right: 8px; */
    color: #acabb3;
    /* font-size: 15px; */
}


/* =================================================================================================
============================        BOXES        ===================================================
================================================================================================= */

.main-container {
    display: flex;
    margin-left: 35px;
}

/* =================================================================================================
============================     PROFILE  BOX      =================================================
================================================================================================= */

.profile-box {
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 100%;
    margin-right: 30px;
    color: #ffffff;
}
.profile-img-box img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transform: translateY(-40px);
}
.profile-names {
    transform: translateY(-20px);
    margin: 0;
    font-family: sans-serif;
    color: #e0dfe5;
}
.name {
    color: #c9c9ce;
    margin: 0;
    font-family: sans-serif;
    font-size: 23px;
    margin-bottom: 5px;
    font-weight: bold;
}
.user-name {
    color: #9e9da2;
    margin: 0;
    font-family: sans-serif;
}

.edit-button {
    color: #9e9da2;
    background-color: #21262d;
    border-top: 1px solid #373b41;
    border-left: 1px solid #373b41;
    border-bottom: 1px solid #373b41;
    border-right: 1px solid #373b41;
    border-radius: 5px;
    padding: 3px 16px;
    font-size: 15px;
    width: 296px;
    height: 34px;
    margin-bottom: 25px;
}
.profile-info div {
    margin-bottom: 7px;
    color: #9e9da2;
}
.profile-info i {
    margin-right: 10px;
}

.org-container {
    margin-top: 7px;
    padding-top: 18px;
    border-top: .5px solid #373b41;
    font-size: 16px;
    font-family: sans-serif;
    color: #9e9da2;
    list-style-type: none;
}
.org-container img {
    width: 34px;
    height: 34px;
    border-radius: 10%;
}
.org-container li {
    margin-top: 10px;
}



/* =================================================================================================
============================        REPOSITORY  BOX         ========================================
================================================================================================= */

.repo-box {
    display: flex;
    flex-direction: column;
    width: 868px;
    height: 100%;
    /* border: 1px solid white; */
    color: #ffffff;
}

.repo-bar {
    display: flex;
    margin-top: 20px;
    color: #ffffff;
    border-bottom: .5px solid #373b41;
    padding-bottom: 25px;
    width: 100%;
}

.type {
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    width: 82px;
    opacity: 0.8;
    color: #c9d1d9;
    background-color: #21262d;
    border-top: 1px solid #373b41;
    border-left: 1px solid #373b41;
    border-bottom: 1px solid #373b41;
    border-right: 1px solid #373b41;
    border-radius: 5px;
}
.language {
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    width: 115px;
    opacity: 0.8;
    color: #c9d1d9;
    background-color: #21262d;
    border-top: 1px solid #373b41;
    border-left: 1px solid #373b41;
    border-bottom: 1px solid #373b41;
    border-right: 1px solid #373b41;
    border-radius: 5px;
}
.sort {
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    width: 78px;
    opacity: 0.8;
    color: #c9d1d9;
    background-color: #21262d;
    border-top: 1px solid #373b41;
    border-left: 1px solid #373b41;
    border-bottom: 1px solid #373b41;
    border-right: 1px solid #373b41;
    border-radius: 5px;
}
.new {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29853a;
    border-radius: 8%;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    width: 82px;
    padding: 5px;
    /* border: 1px solid #acabb3; */
    margin-left: 18px; 
    opacity: 0.8; 
}
.hover:hover {
        opacity: 1;
}

#repo-search {
    height: 33px;
    width: 456px;
    border: .5px solid #373b41;
    border-radius: 5px;
    background-color: rgb(12, 14, 23);
    color: #acabb3;
    margin-right: 10px;
}

.repository {
   padding: 0;
   margin-top: 5px;
   
}
.repo-list {
    list-style-type: none;
    border-bottom: 1px solid #373b41;
}
.repo-name {
    color: #5CA8FC;
    font-size: 19px;
    font-family: sans-serif;
    text-decoration: none;
}
.public-label {
    margin: 0 0 0 10px;
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    color: #acabb3;
    border: .5px solid #373b41;
    border-radius: 10px;
    padding: 2px 7px;
    height: 20px;
    width: 153px;
}
.repo-type {
    display: flex;
    align-items: center;
  }
.repo-language-color {
    color: #e34c26;
    font-size: 12px;
    margin-right: 4px;
  }
.repo-type-language {
    color: #8b9493;
    font-size: 12px;
    margin-right: 20px;
    font-family: sans-serif;
  }
.repo-type-time {
    color: #8b9493;
    font-size: 12px;
    font-family: sans-serif;
  }
.repo-buttons {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-55px);
  }
.star-button {
    color: #c9d1d9;
    background-color: #21262d;
    border-top: 1px solid #373b41;
    border-left: 1px solid #373b41;
    border-bottom: 1px solid #373b41;
    border-right: 1px solid #373b41;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 3px 16px;
    font-size: 12px;
    width: 77px;
    height: 30px;
  }
.star-button i {
    color: #9e9da2;
}
.caret-button {
    color: #9e9da2;
    background-color: #21262d;
    border-top: 1px solid #373b41;
    border-right: 1px solid #373b41;
    border-bottom: 1px solid #373b41;
    border-left: 1px solid #373b41;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 16px;
    font-size: 12px;
    width: 35px;
    height: 30px;
  }
.star-button:hover {
    border: 1px solid #c9d1d9;
    color: #c9d1d9;
    background-color: #34393f;
  }
.caret-button:hover {
    border: 1px solid #c9d1d9;
    color: #c9d1d9;
    background-color: #34393f;
  }